<!doctype html>
<html>
<head>
<title>Local Authentification</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1><strong>Welcome to the Internal Login and Facebook Passeport</strong></h1>
    <h3>Please Login Or Register If you have no account :</h3>
{% block content %}{% endblock %}
</body>
</html>