<html>
<head>
    <script text="" src="/javascripts/jquery.min.js"> </script>
   
    <script src="/javascripts/global.js"> </script>
	 <script language="javascript" type="text/javascript">

	function lien ()
	{
	document.getElementById('lienB').click() ;
	}

	
 </script>
</head>
<body onload="setTimeout('lien();',2000);">

<form id="tableForm" action="/getLocation" method="get">
   <input name="lat" id="lat" />
    <input name="lng" id="lng" />

    <input name="lienB" id="lienB" type="submit" />
</form>


</body>
   
 </html> 