{% extends 'layout.twig' %}
{% block content %}
<div >
<h2> Login Page</h2>
</br>
<form action="/login" method="post" style="max-width: 300px;" >
    
    <h3><strong>Username :</strong></h3><input type="text" name="username" placeholder="Enter Username" size= "50"   />
    <h3><strong>Password :</strong></h3><input type="password" name="password" placeholder="Password" size="50"/>
   
    
    
    
</br></br></br>
<input type="submit" type="submit" value="Submit" />&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset" value="Cancel" />
</br></br></br>

</form>
<a href='/'>Retour</a>
</div>
<a href="/auth/facebook"> <img src="images/loginfb.png"></a></br>
<a href="/auth/facebook"> <img src="images/googlelog.png"></a> </br>
<a href="/auth/facebook"> <img src="images/twitterlog.png"></a> </br>

{% endblock %}