{% extends 'layout.twig' %}
{% block content %}
<div >
<h3> Register Page</h3>
<form action="/users/register" method="post" style= "max-width: 300px;">
<input type='text', name="username" placeholder='Enter Username'/>
<input type="password" name="password" placeholder='Password'/>
 
    
    
    
    
    
    
<br><input type="submit" type='submit' value="Submit" />
<input type="reset" value="Cancel" />
</form>
    
    
    <h3><strong>Name :</strong></h3><input type="text" name="name" placeholder="Enter Name" size= "50"   />
    <h3><strong>Last Name :</strong></h3><input type="text" name="lastname" placeholder="Enter Last Name" size= "50"   />
    <h3><strong>Email :</strong></h3><input type="text" name="email" placeholder="Enter Email" size= "50"   />
    <h3><strong>Birth date :</strong></h3><input type="date" name="birthdate"  size= "20"   />
    <h3><strong>Telephone Number :</strong></h3><input type="text" name="telenumber" placeholder="Enter Telephone N°" size= "50"   />
    <h3><strong>Locality :</strong></h3><input type="text" name="locality" placeholder="Enter Locality" size= "50"   /></br>
    
<h3><strong>Tags :</strong></h3>
<select>
  <option value="Empty" size= "40" name="music">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your Music Tag&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
     <option value="1">Pop Music</option>
     <option value="2">Rap Music</option>
     <option value="3">Rock Music</option>
     <option value="4">Reggae Music</option>
     <option value="5">Classic Music</option>
     <option value="6">Gnawa Music</option>
     <option value="7">Pop Music</option>
  
</select></br></br>
    
<select>
<option value="Empty" size= "40" name="sport" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Your Sport Tag&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
        <option value="1">FootBall</option>
        <option value="2">VolleyBall</option>
        <option value="3">Beach VolleyBall</option>
        <option value="4">HandBall</option>
        <option value="5">BascketBall</option>
        <option value="6">Tennis</option>
        <option value="7">Swimming</option>     
</select></br></br>
    
  
     <h3><strong> Other Tags :</strong></h3>
    </br>

<form name="tags" >
<input type="checkbox" name="choix1" value="1"> Painting
<input type="checkbox" name="choix2" value="2"> Graffity
<input type="checkbox" name="choix3" value="3"> Partying  </br></br>
<input type="checkbox" name="choix4" value="4"> Dancing
<input type="checkbox" name="choix5" value="5"> WorkOut
<input type="checkbox" name="choix6" value="6"> Reading  </br></br>
<input type="checkbox" name="choix7" value="7"> Geeking
<input type="checkbox" name="choix8" value="8"> Video Games
<input type="checkbox" name="choix9" value="9"> WorkOut  </br></br>
<input type="checkbox" name="choix10" value="10"> Surfing
<input type="checkbox" name="choix11" value="11"> Listen to Music
<input type="checkbox" name="choix12" value="12"> Eating  </br></br>
<input type="checkbox" name="choix13" value="13"> Bicycling
<input type="checkbox" name="choix14" value="14"> Running
<input type="checkbox" name="choix15" value="15"> Bicycling  </br></br>

    </form> 
    
    
    
    
<a href= "/">Retour</a>
</div>
<h4> {{info}} </h4>
{% endblock %}